.rnd-theme-rectangle-blue{

}

.desc-card {
    min-height : 530px;
}

.rndo-home-banner-name {
    color: #FFE4C4 !important;
}

.rndo-home-banner-desc {
    color: #F0F8FF !important;
}

.rndo-home-section {
    padding-top: 40px;
    padding-bottom: 40px;    
}

.rnd-home-video {
    width: 100%;
}

.navbar-toggle {
	margin-right : 0px;
	padding-right : 0px;
}