
.page-cover {
    background-size: cover;
    /* background-position: center; */
    position: relative;
    padding: 0px;
}

.page-title {
    font-size: 33px;
    padding: 50px;
    color: white;
}

.content-area {
    text-align: left;
}

.content-area main article p {
    line-height: 2.5;
}

.content-area main article ul {
    line-height: 2;
}

.content-area main article ol {
    line-height: 2;
}