.rndo-test-bg-yellow {
    background-color: yellow;
}

.rndo-test-bg-blue {
    background-color:cornsilk;
}

.rndo-card-image {

}

.grid-view-caption .rndo-pipe {
    border-right: 1px solid #eaeff5;
}

.rndo-list-cell {
    min-height: 450px;
}

.brows-job-position {
    padding: 15px;
    min-height: 110px;
}

.rndo-search-no-result {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    min-height: 450px;
}
.rndo-search-no-result p {
    text-transform: none;
}
