.rndo-details-panel {
/*    background-color: yellow;*/
    text-align: left;
}

.rndo-details-attr-panel {
/*    background-color: turquoise;*/
}

.rndo-product-detail p{
    text-transform: none;
    line-height: 2;
    margin-bottom: 20px;
	text-align : justify;
}

.rndo-product-title {
	text-align : left;
	margin-top  :40px;
	margin-bottom  :40px;
}

.rndo-product-title h1 {
	font-size : 35px;
}

.rndo-product-attributes {
	float: left;
    min-width: 160px;
	clear : both;
	font-weight: bold;
	color: #272f46;
}

.rndo-product-attribute-values {
	float: left;
}

.rndo-details-attr-panel ul {
	list-style: none;
}
.rndo-details-attr-panel ul li {
    overflow: hidden;
    margin-bottom: 15px;
    /*padding-bottom: 15px;*/
    border-bottom: 1px solid #e8eef1;
}

.rndo-details-attr-overview {
	
}

	
.employer-detail-detail .list, .job-detail-detail .list {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.employer-detail-detail .icon, .job-detail-detail .icon {
    font-size: 25px;
    color: #11b719;
    float: left;
}

.employer-detail-detail .details, .job-detail-detail .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.employer-detail-detail .details .text, .job-detail-detail .details .text {
    min-width: 125px;
    font-weight: 500;
    color: #272f46;
}

.widget .widget-title, .widget .widgettitle, .widget .widget-heading {
    font-size: 18px;
    padding: 0;
    position: relative;
    margin: 0 0 20px;
    font-weight: 500;
}

.widget {
    position: relative;
}

.employer-detail-detail .list li, .job-detail-detail .list li {
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8eef1;
}

.employer-detail-detail .list, .job-detail-detail .list {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}

.list, .list-no {
    padding: 0;
    margin: 0;
}