.rndo-display-flex {
    display: flex;
}
.rndo-contact-us-form {
    width: 50%;
    background: yellow;
}

.rndo-contact-us-location {
    width: 50%;
    background: blueviolet;
}


 /* @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  } */

  .rndo-bg-color-yellow{
      background-color: yellow;
  }

  .rndo-bg-color-blue {
      background-color: blueviolet;
  }

  .rndo-contact-us p{
    margin: 0px;
    font-weight: bold;
  }

  .rndo-contact-us input[type=text] {
    border: 0px;
    border: 1px solid #cccccc;
    width: 100%;
    min-height: 40px;
  }

  .rndo-contact-us textarea {
    border: 0px;
    border: 1px solid #cccccc;
    width: 100%;
    min-height: 200px;
  }

  .rndo-contact-us .row {
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .rndo-contact-us button    {
    width: 50% !important;
}

.rndo-google-map {
    width: 100%;
    height: 290px;
    border: 1px saddlebrown;    
}

.Toastify__toast-body {
	font-family : 'Muli';
}

.rndo-error {
	color : red;
}