.nav .rndo-search {
    visibility: hidden;
}

.rndo-navbar-left {
    margin-top: 20px;
}

.rndo-navbar-header {
    margin-top: 20px;
}

.rndo-header {
    position: fixed;
    min-height: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    background: white;
    z-index: 1000;    
}

.toggle-expand-icon {
	width : 25px;
	height : 3px;
	background-color : black;
	margin:4px 0;
}

.toggle-close-icon {
	font-weight: bold;
    font-size: 16px;
}