.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  margin: 0px;
}


.wrapper {
  width: 100%;
  /* background-color:yellow; */
}

.header {
  width: 100%;
  min-height: 80px;
  /* background-color: #61dafb; */
}

.content {
  width: 100%;
  min-height: 200px;
  /* background-color:wheat; */
}

.footer {
  width: 100%;
  min-height: 80px;
  /* background-color:blueviolet; */
}

.rndo-display-none {
  display: none;
}

.container {
  width: 1280px;
  padding-right: 0px;
  padding-left: 0px;
}

/* @media (min-width: 768px){
    .container {
      width: 750px;
  }
} */

/* @media (min-width: 375px){
  .container {
    width: 375px;
}
} */

.rndo-theme-menu-list {
  color : #3c9cb2;
  font-weight: bold;
}

.rndo-theme-section-title {
  color : #3c9cb2 !important;
}

.rnd-bg-color {
  background-color: #3c9cb2;
}

.rndo-them-button-fire {
  background-color : #3c9cb2 !important;
  color: white !important;
}

.rndo-them-button-cancel {
  background-color : #3c9cb2 !important;
  color: white !important;
}

.rndo-display-none {
  display: none;
}

.rndo-section {
  padding-top: 40px;
  padding-bottom: 40px;    
}

.container>.navbar-header {
  margin-right: 0px;
  margin-left: 0px;    
}  

.footer-widget {
    padding: 40px 0;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 355px;
  }  

  .container>.navbar-header {
    margin-right: 0px;
    margin-left: px;    
  }  
  
  .footer-widget {
    padding: 1.5em 0 1em;
  }
  .nav .rndo-search {
	display : none;
  }
  
  .rndo-contact-us button    {
    width: 100% !important;
}  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 580px;
  }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 748px;
  }  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 972px;
  }  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1280px;
  }  
}

.rnd-page-error {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;  
  min-height: 400px;
}